In [44]:
def gerar_tabela(arquivo,data=None,chromedriver='/usr/bin/chromedriver'):
    from selenium import webdriver
    from selenium.webdriver.common.keys import Keys
    driver = webdriver.Chrome(chromedriver)
    driver.get('file://'+arquivo)
    time.sleep(1)
    col = ['Concurso', 'Data_Sorteio', '1Dezena', '2Dezena', '3Dezena', '4Dezena', '5Dezena', '6Dezena']
    concursos = len(driver.find_elements_by_xpath('//tr/td[1]'))
    if data is None:
        print('Gerando Tabela')
        data = pd.DataFrame(columns=col)
        for k in range(concursos):
            sorteio = driver.find_element_by_xpath('//tr['+str(k+2)+']').text.split()[0:8]
            if len(sorteio)==8:
                data = data.append(pd.DataFrame([sorteio],columns=col), ignore_index=True)
    else:
        print('Último concurso:',driver.find_element_by_xpath('//tr['+str(concursos)+']').text.split()[1])
        if data['Concurso'].tail(1).to_string(index=False)[1:] == driver.find_element_by_xpath('//tr['+str(concursos)+']').text.split()[0]:
            print('Já está Atualizado')
        else:
            print('Atualizando Tabela')
            sorteio = driver.find_element_by_xpath('//tr['+str(concursos)+']').text.split()[0:8]
            data = data.append(pd.DataFrame([sorteio],columns=col), ignore_index=True)
    return data
def importar_jogos(url):
    import requests, zipfile, io 
    r = requests.get(url)
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall()

In [2]:
import glob
import os
import time
import pandas as pd
url = 'http://www1.caixa.gov.br/loterias/_arquivos/loterias/D_megase.zip'
importar_jogos(url)
arquivo = glob.glob('*.htm')
ini = time.time()
data = gerar_tabela(os.path.abspath(arquivo[0]))
fim = time.time()
print(fim-ini,'s')
data.to_csv('megase.csv')
data

229.35814213752747

     Concurso Data_Sorteio 1Dezena 2Dezena 3Dezena 4Dezena 5Dezena 6Dezena
0           1   11/03/1996      41      05      04      52      30      33
1           2   18/03/1996      09      39      37      49      43      41
2           3   25/03/1996      36      30      10      11      29      47
3           4   01/04/1996      06      59      42      27      01      05
4           5   08/04/1996      01      19      46      06      16      02
...       ...          ...     ...     ...     ...     ...     ...     ...
2325     2326   10/12/2020      27      36      34      16      57      10
2326     2327   12/12/2020      54      45      30      57      37      58
2327     2328   16/12/2020      11      08      39      14      48      53
2328     2329   19/12/2020      42      28      45      14      12      55
2329     2330   31/12/2020      22      35      17      41      20      42

[2330 rows x 8 columns]

In [45]:
gerar_tabela(os.path.abspath(arquivo[0]),data)

Ultimo concurso: 31/12/2020
Já está Atualizado

     Concurso Data_Sorteio 1Dezena 2Dezena 3Dezena 4Dezena 5Dezena 6Dezena
0           1   11/03/1996      41      05      04      52      30      33
1           2   18/03/1996      09      39      37      49      43      41
2           3   25/03/1996      36      30      10      11      29      47
3           4   01/04/1996      06      59      42      27      01      05
4           5   08/04/1996      01      19      46      06      16      02
...       ...          ...     ...     ...     ...     ...     ...     ...
2325     2326   10/12/2020      27      36      34      16      57      10
2326     2327   12/12/2020      54      45      30      57      37      58
2327     2328   16/12/2020      11      08      39      14      48      53
2328     2329   19/12/2020      42      28      45      14      12      55
2329     2330   31/12/2020      22      35      17      41      20      42

[2330 rows x 8 columns]